<!-- home.html limpio -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Empresa - Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_inicio_home.css') }}">
</head>
<body>
    <header>
        <h1>segunda parte del proyecto, formulario y revision de informacion</h1>
        <p>Aqui presento dos opciones: formulario y ver formularios ya registrados</p>
    </header>

    <div class="container">
        {% if mensaje %}<p class="mensaje">{{ mensaje }}</p>{% endif %}
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="mensaje-exito">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

        <h2>Formulario conectado a base de datos</h2>
        <a href="/agregar"><button>Ir al Formulario</button></a>

        <hr>

        <h3>Acceso con usuario y contraseña para ver registros</h3>
        <form method="POST" action="/login">
            <input type="text" name="usuario" placeholder="Usuario" required><br>
            <input type="password" name="contrasena" placeholder="Contraseña" required><br>
            <input type="submit" value="Ver registros">
        </form>

        <a href="{{ url_for('home') }}"><button>Volver a la página anterior</button></a>
    </div>

    <footer>&copy; Proyecto creado unicamente para estudio. Derechos reservados para Wilder. 2025</footer>
    <script src="{{ url_for('static', filename='js/main_inicio_home.js') }}"></script>
</body>
</html>
